# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\vuejs\TKXDPM.KSCQ.20211-20183644.TranHaiTrung\AIMS-Student\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
